@font-face {
  font-family: "PT-Sans";
  src: url(../fonts/PTSans.woff2) format(woff2),
    url(../fonts/PTSans.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT-Sans";
  src: url(../fonts/PTSans-Bold.woff2) format(woff2),
    url(../fonts/PTSans-Bold.woff) format(woff);
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-dark: #766357;
  --basic-selected-dark: #604e43;
  --basic-extra-dark: #503e33;
  --basic-neutral: #e5e5e5;
  --basic-light-blue: #81b3d2;
  --basic-blue: #669ec0;
  --basic-extra-blue: #5496bd;
  --basic-extra-light: #f2f2f2;
  --basic-white: #ffffff;
  --special: #eeeeee;
  --special-grey: #666666;
}

body {
  min-width: 960px;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT-Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  position: relative;

  outline: 3px solid red;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navigatoin-list-item {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

  outline: 3px solid green;
}

.navigatoin-list-item:nth-child(2) {
  margin-right: 20%;
}

.site-nav-link:hover {
  color: var(--basic-light-blue);
}

.site-nav-link:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.site-nav-link:active {
  color: var(--basic-black);
}

.welcoming {
  text-align: center;
  background-image: url(../img/main-background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  line-height: 26px;
}

.welcoming-title {
  font-size: 21px;
  font-weight: 700;
  margin-top: 0;
}

.features-list {
  text-align: center;
  line-height: 21px;

  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  outline: 3px solid red;
}

.features-list-element {
  outline: 3px solid green;
}

.features-list-element:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: -1;
}

.features-list-element:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: -1;
}

.feature-item-title {
  font-size: 21px;
  font-weight: 700;
}

.features-image-box {
  background-color: var(--basic-light-blue);

  display: flex;
  flex-direction: row;
}

.features-text-wrapper {
  padding: 50px 25px;
}

.feature-special-box {
  background-color: var(--special);
  padding: 47px 40px;
}

.interested {
  text-align: center;
}

.interested-title {
  font-size: 30px;
  font-weight: 700;
}

.interested-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
}

/*
.modal-map {
}
*/

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  outline: 3px solid red;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33%;

  outline: 3px solid green;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  flex-basis: 33%;

  outline: 3px solid green;
}

.footer-copyright {
  line-height: 26px;

  display: flex;
  justify-content: center;
  flex-basis: 33%;

  outline: 3px solid green;
}

/*catalog.html*/

/*
.sorting {
}
*/

.sorting {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 29px 73px;

  outline: 3px solid red;
}
.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;

  outline: 3px solid green;
}

.sorting-result-number {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  outline: 3px solid green;
}

.sorting-type {
  font-size: 12px;
  line-height: 18px;

  outline: 3px solid green;
}

.sorting-type-by {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: var(--basic-black);
  opacity: 0.3;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: none;
}

.sorting-type-by:hover {
  color: var(--basic-light-blue);
}

.sorting-type-by:focus {
  text-decoration-line: none;
  text-decoration-style: none;
  color: var(--basic-black);
}

.sorting-type-by:active {
  text-decoration-line: none;
  text-decoration-style: none;
  color: var(--basic-light-blue);
}

.search-result {
  line-height: 21px;
}

.search-result-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.search-result-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  outline: 3px solid blue;
}

.search-list-item {
  display: flex;
  padding: 30px 73px;

  outline: 3px solid orange;
}

.result-text-wrapper {
  padding-left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  outline: 3px solid;
}

.result-link-text {
  grid-column-start: 1;
  grid-column-end: -1;
}

.rating-wrapper {
  margin-left: auto;

  outline: 3px solid;
}

.search-text {
  color: var(--basic-white);
  font-weight: bold;
}

.button-about {
  background-color: var(--basic-light-blue);
}

.button-booking {
  background-color: var(--basic-dark);
}

.result-item-rating {
  color: var(--special-grey);
}
