@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format(woff2),
    url(../fonts/PTSans.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format(woff2),
    url(../fonts/PTSans-Bold.woff) format(woff);
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-dark: #766357;
  --basic-selected-dark: #604e43;
  --basic-extra-dark: #503e33;
  --basic-neutral: #e5e5e5;
  --basic-light-blue: #81b3d2;
  --basic-blue: #669ec0;
  --basic-extra-blue: #5496bd;
  --basic-extra-light: #f2f2f2;
  --basic-white: #ffffff;
  --special: #eeeeee;
  --special-grey: #666666;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

.page {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-nav {
  line-height: 26px;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-logo {
  order: 1;
  justify-self: center;
}

.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-link:hover {
  color: var(--basic-light-blue);
}

.site-nav-link:focus {
  color: var(--basic-black);
}

.site-nav-link:active {
  color: var(--basic-dark);
}

.welcoming {
  text-align: center;
  background-color: var(--basic-white);
  background-image: url(../img/main-background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  line-height: 26px;
}

.welcoming-title {
  font-size: 21px;
  font-weight: 700;
}

.features {
  text-align: center;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-item {
  line-height: 21px;
}

.feature-item-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.special-item {
  background-color: var(--basic-light-blue);
  grid-column: 1/-1;
}

.feature-item-bg {
  background-color: var(--special);
}

.interested {
  text-align: center;
}

.interested-title {
  font-size: 30px;
  font-weight: 700;
}

.interested-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
}

/*
.modal-map {
}
*/

.main-footer {
  background: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-footer .container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.main-footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-copyright {
  line-height: 26px;
}

/*catalog.html*/

/*
.sorting {
}
*/

.sorting-list {
  list-style: none;
}

.sorting-result-number {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-type {
  font-size: 12px;
  line-height: 18px;
}

.sorting-type-by {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: var(--basic-black);
  opacity: 0.3;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: none;
}

.sorting-type-by:hover {
  color: var(--basic-light-blue);
}

.sorting-type-by:focus {
  text-decoration-line: none;
  text-decoration-style: none;
  color: var(--basic-black);
}

.sorting-type-by:active {
  text-decoration-line: none;
  text-decoration-style: none;
  color: var(--basic-light-blue);
}

.search-result {
  line-height: 21px;
}

.search-result-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-result-list {
  list-style: none;
}

.search-text {
  color: var(--basic-white);
  font-weight: bold;
}

.search-result-item-rating {
  color: var(--special-grey);
}
